@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Credit';
	font-style: normal;
	font-weight: 500;
	src: url('/credit.ttf') format('truetype');
}
@font-face {
	font-family: 'Vito';
	font-style: normal;
	font-weight: normal;
	src: url('/Vito-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Vito';
	font-style: normal;
	font-weight: bold;
	src: url('/Vito-Bold.otf') format('opentype');
}

:root {
	--nomoPrimary: #bca570ff;
	--nomoOnPrimary: #ffffffff;
	--nomoPrimaryContainer: #fcfaf7ff;
	--nomoSecondary: #d1af72ff;
	--nomoOnSecondary: #000000ff;
	--nomoSecondaryContainer: #e6d0a3ff;
	--nomoBackground: #f5f5f5ff;
	--nomoSurface: #ffffffff;
	--nomoForeground1: #000000cf;
	--nomoForeground2: #000000df;
	--nomoForeground3: #000000ef;
	--nomoSnackBarColor: #fff7e5ff;
	--nomoDisabledColor: #e0e0e0ff;
	--nomoError: #ff5252ff;
	--nomoSettingsTileColor: #ffffffff;
	--nomoSettingsColumnColor: #edededff;
}

html, body {
	height: 100%;
	width: 100%;
	color: var(--nomoForeground1);
	overflow-x: hidden;
	margin: 0;
	font-family: "Vito", serif;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.content {
	height: 100%;
	width: 100%;
}

.page {
	width: 100%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	margin: auto;
}


.spin {
	animation: spin 0.3s linear !important;
}
@keyframes spin {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	0% {
		transform: scaleX(1);
	}
}

.loading {
	padding: 30px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.error {
	padding: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	gap: 30px;
	font-size: 20px;

	img {
		height: 70px;
	}
}